.intro{
	background: #15b3cf;
}
button{
	border:solid;
	border-radius: 8px;
	background:#3952c2; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 20px;
	padding-bottom: 10px;
	transition: 0.1s;

}
button:hover,h1:hover{
	transform: scale(1.3);
}
button:hover{
	background-color:#148a14;
}
.img{
	padding-left: 35%;
	width: 60%;
	height: 60%;
}
.link{
	margin-right: 25px;
	font-size: large;
	color:#3685eb;
	letter-spacing: 0.5px;
	transition: 0.5s;
} 
body
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 background-color:#ECF0F1;
}
#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:995px;
}
.form_div
{
width:300px;
margin-top:80px;
margin-left:320px;
padding:10px;
background-color:#5f7cdb;
}
.form_div .form_label
{
margin:20px;
margin-bottom:40px;
font-size:25px;
font-weight:bold;
color:white;
}
